<div class="dashboard-container">
    <div class="header">
      <h1>Dashboard</h1>
    </div>
    <div class="body">
      <div class="kpi">
        <h2>KPI 1</h2>
        <app-kpi1></app-kpi1>
    </div>
      <div class="kpi">
        <h2>KPI 2</h2>
        <app-kpi2></app-kpi2>
    </div>
      <div class="kpi">
        <h2>KPI 3</h2>
<app-kpi3></app-kpi3>
    </div>
      <div class="kpi">
        <h2>KPI 4</h2>
        <app-kpi4></app-kpi4>
    </div>
      <div class="kpi">
        <h2>KPI 5</h2>
        <app-kpi5></app-kpi5>
    </div>
    </div>
  </div>
  