.categoria-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .alert {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    margin-left: 10px;
  }
  