<div class="wrapper">
    <div class="content-wrapper">
        <!-- Content Header -->
        <div class="content-header">
            <div class="container-fluid">
                <!-- Puedes agregar un título aquí si lo necesitas -->
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
                     <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Dxf_MPY7divIuT1p2ataMAHaF7%26pid%3DApi&f=1&ipt=0bf7c9dd677059d94d2be3697c9e6381495b9c961ba0506d2baa395ba432accf&ipo=images" alt="" srcset="" width="64" height="64" style="border-radius:50%">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/usuarios">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/roles">Roles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/tests">Tests</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/categorias">Categorias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/business-intelligence">Business Intelligence</a>
                            </li>
                        </ul>
                        <!-- Logout/Login aligned to the right -->
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" *ngIf="!isLoggedIn" routerLink="/login">Login</a>
                                <a class="nav-link" *ngIf="isLoggedIn" routerLink="/logout">Logout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <!-- Main Content -->
        <div class="content   rounded">
            <div class="container-fluid">
                <!-- Aquí se renderizarán las rutas -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="main-footer ">
        <div class="container-fluid">
            <p class="text-center mb-0">Software2 - Examen Parcial 2</p>
        </div>
    </footer>


</div>